.psikolog {
    padding: 75px 0;

    &-tag {
        ul {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 12px;
            margin-top: 12px;

            li {
                background-color: #1DA547;
                opacity: 0.8;
                padding: 10px;
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                border-radius: 12px;
                text-align: center;
            }
        }
    }



    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 72px;

        h2 {
            position: relative;

            &::before {
                width: 120px;
                height: 2px;
                left: 0;
                bottom: -10px;
                background-color: #1DA547;
                position: absolute;
                content: '';

            }
        }

        a {
            color: #333;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2em;

            svg {
                vertical-align: middle;
                margin-left: 12px;
                transition: 0.3s;
            }

            &:hover {
                svg {
                    -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    transform: translateX(10px)
                }
            }
        }
    }

    &-box {
        border: 1px solid #bdbdbb;
        padding: 1rem;
        position: relative;
        transition: 0.3s;

        &::before {
            width: 0;
            left: 0;
            transition: 0.5s;
            bottom: 0;
            height: 3px;
            content: '';
            position: absolute;
            background-color: #1DA547;
        }

        &:hover {
            box-shadow: 0 0 18px rgba(20, 20, 20, .2);

            &::before {
                width: 100%;
            }
        }
    }

    &-content {
        h4 {
            font-size: 18px;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }

    &-img {
        text-align: center;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            text-align: center;
        }
    }
    &-button{
        margin-top: 12px;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        a{
            padding: 12px 15px;
            background: #1da547;
            border-radius: 6px;
            display: inline-block;
            color: #fff;
            font-size: 15px;
            position: relative;

            &::after {
                display: inline-flex;
                margin: auto 0;
                content: '';
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(../img/white-arrow.svg);
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                vertical-align: middle;
                margin-left: 10px;
        
            }
        
            &:hover {
                &::after {
                    -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    transform: translateX(10px)
                }
            }
        }
    }



    &-detay {
        padding: 75px 0;
        background-color: #fff;

        h4 {
            padding-top: 25px;
        }

        ul {
            margin-top: 30px;

            li {
                position: relative;
                padding-left: 18px;
                margin-top: 10px;

                &::before {
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto 0;
                    content: '';
                    background-color: #1DA547;
                    border-radius: 50%;
                }

                a {
                    color: #333;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                    position: relative;
                    transition: 0.2s;

                    &:hover {
                        color: #1DA547;
                    }

                }
            }
        }
    }
}


.psikolog-slider-pagination {
    padding-top: 66px;

    .swiper-pagination-bullet {
        width: 60px !important;
        background: rgba(51, 51, 51, 0.368);
        height: 2px !important;
        border-radius: 2px;

        &-active {
            background-color: #1DA547;
        }
    }
}


.psikolog-form {
    padding: 75px 0;
    background-color: #fff;

    h2 {
        padding-bottom: 30px;
        margin-top: 30px;
    }

    form {
        label {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #344053;
            margin-bottom: 6px;
            margin-top: 24px
        }

        input {
            padding: 14px 14px 14px 20px;
            border-radius: 16px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 100%;
            outline: none;
            position: relative;
        }

        select {
            padding: 14px 14px 14px 20px;
            border-radius: 16px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 100%;
            outline: none;
            position: relative;
        }

        textarea {
            padding: 14px 14px 14px 20px;
            border-radius: 16px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 100%;
            outline: none;
            resize: none;
            height: 120px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            border-radius: 6px;
            background: #333;
            cursor: pointer;
            padding: 16px 24px;
            color: #FFF;
            font-size: 14px;
            outline: none;
            border: none;

            svg {
                margin-left: 12px;
                transition: 0.3s;
            }

            &:hover {
                svg {
                    -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    transform: translateX(10px)
                }
            }
        }
    }
}