.randevu{
    padding: 75px 0;
    background-color: #fff;
    form{
        label {
            display: block;
            color: #333;
            margin-bottom: 8px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 24px;
        }

        input {
            padding: 14px 14px 14px 20px;
            border-radius: 16px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 100%;
            outline: none;
        }
        select{
            padding: 14px 14px 14px 20px;
            border-radius: 16px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 100%;
            outline: none;  
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            border-radius: 6px;
            background: #333;
            cursor: pointer;
            padding: 16px 24px;
            color: #FFF;
            font-size: 14px;
            outline: none;
            border: none;

            svg {
                margin-left: 12px;
                transition: 0.3s;
            }
            &:hover {
                svg {
                    -webkit-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    transform: translateX(10px)
                }
            }
        }
    }
}

.radio{
    width: unset!important;
}